:root {
  --main-text-color: #757575;
  --main-title-text-color: #212121;
  --accent-text-color: #2196f3;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --main-background-color: #ffffff;
  --button-hover: #188ce8;
  --header-logo-color: #000000;
  --button-background: #f5f4fa;
  --header-border: #ececec;
  --icon-color: #afb1b8;
  --background-card-color: rgba(33, 150, 243, 0.9);
  --subscription-input-color: rgba(255, 255, 255, 0.3);
  --button-close-border-color: rgba(0, 0, 0, 0.1);
  --input-date-border-color: rgba(33, 33, 33, 0.2);
  --input-date-large-color: rgba(117, 117, 117, 0.5);
  --section-meta-background-color: rgba(47, 48, 58, 0.8);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --socials-background-grey: rgba(255, 255, 255, 0.1);
  --time-animation: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-background);
  opacity: 1;
  transition: opacity var(--time-animation) var(--time-function);
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.button {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--additional-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  transition: background-color var(--time-animation) var(--time-function), border-color var(--time-animation) var(--time-function);
}
.button:hover, .button:focus {
  border-color: transparent;
  background-color: var(--button-hover);
}
.button--normal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-filtr {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--main-title-text-color);
  background-color: var(--button-background);
  transition: color var(--time-animation) var(--time-function), background-color var(--time-animation) var(--time-function), box-shadow var(--time-animation) var(--time-function);
}
.button-filtr:focus, .button-filtr:hover {
  color: var(--additional-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.list--center {
  margin-bottom: 50px;
  justify-content: center;
}

.list-item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.list-item--white {
  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.list-item:last-child {
  margin-right: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--grey {
  background-color: var(--button-background);
}

.socials {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: center;
}
.socials__list:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--time-animation) var(--time-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-text-color);
}
.socials__link--grey {
  background-color: var(--socials-background-grey);
}

.socials__icon {
  fill: var(--icon-color);
  transition: fill var(--time-animation) var(--time-function);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--additional-text-color);
}
.socials__icon--white {
  fill: var(--additional-text-color);
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-title-text-color);
}

.section-meta__subtitle, .section-features__icon, .client-link, .button-close, .socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--additional-text-color);
  font-size: 12px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--time-animation) var(--time-function);
}
.modal__button {
  display: flex;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}
.footer__container {
  display: flex;
}
.footer__subtitle {
  margin-bottom: 20px;
  color: var(--additional-text-color);
}

.address {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--additional-text-color);
  font-style: normal;
  line-height: 1.71;
}

.footer-address {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.footer-address__link {
  color: var(--adress-text-color);
  font-style: normal;
  line-height: 1.71;
}
.footer-address__item {
  margin-top: 9px;
}

.contacts {
  margin-right: 70px;
}

.subscription {
  margin-left: 73px;
}
.subscription__icon {
  margin-left: 10px;
  fill: var(--additional-text-color);
}

.input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid var(--subscription-input-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  color: var(--adress-text-color);
  outline: none;
}

.header {
  border-bottom: 1px solid var(--header-border);
}
.header__container {
  display: flex;
  align-items: center;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  cursor: pointer;
  border: 1px solid var(--button-close-border-color);
  border-radius: 50%;
  background-color: var(--main-background-color);
}

.button-close__icon {
  fill: var(--header-logo-color);
}
.button-close:hover .button-close__icon, .button-close:focus .button-close__icon {
  fill: var(--accent-text-color);
}

.clients {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.clients__list-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color var(--time-animation) var(--time-function), box-shadow var(--time-animation) var(--time-function);
}
.client-link:hover, .client-link:focus {
  border-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.client-link__img {
  display: flex;
  justify-content: center;
  fill: var(--icon-color);
  transition: fill var(--time-animation) var(--time-function);
}
.client-link:hover .client-link__img, .client-link:focus .client-link__img {
  fill: var(--accent-text-color);
}

.form-modal {
  margin: 40px;
}

.form-title {
  margin: 0 0 12px 0;
  font-size: 20px;
  color: var(--main-title-text-color);
}

.form-box {
  position: relative;
}

.svg-modal {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--header-logo-colo);
}

.label {
  display: block;
}

.input-date {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 15px;
  height: 40px;
  border: 1px solid var(--input-date-border-color);
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color);
}
.input-date:focus {
  border-color: var(--accent-text-color);
}

.input-date:focus + .svg-modal {
  fill: var(--accent-text-color);
}

.input-date--large {
  height: 120px;
  resize: none;
  color: var();
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form-checkbox__text {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.approval-box:checked + .form-checkbox__text {
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-text-color);
}

.form-checkbox {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

.contract {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.form-modal {
  margin: 40px;
}

.form-title {
  margin: 0 0 12px 0;
  font-size: 20px;
  color: var(--main-title-text-color);
}

.form-box {
  position: relative;
}

.svg-modal {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--header-logo-colo);
}

.label {
  display: block;
}

.input-date {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 15px;
  height: 40px;
  border: 1px solid var(--input-date-border-color);
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color);
}
.input-date:focus {
  border-color: var(--accent-text-color);
}

.input-date:focus + .svg-modal {
  fill: var(--accent-text-color);
}

.input-date--large {
  height: 120px;
  resize: none;
  color: var();
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form-checkbox__text {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.approval-box:checked + .form-checkbox__text {
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-text-color);
}

.form-checkbox {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

.contract {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.hero {
  text-align: center;
  background-color: var(--hero-background-color);
  color: var(--additional-text-color);
}
.hero__background {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Bg-image-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__button {
  padding-left: 32px;
  padding-right: 32px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.logo {
  color: var(--accent-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__text {
  color: var(--header-logo-color);
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  color: var(--additional-text-color);
}

.main-nav,
.nav-contact {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-contact {
  margin-left: auto;
}

.main-nav__list,
.nav-contact__list {
  margin-right: 50px;
}

.main-nav__list:last-child,
.nav-contact__list:last-child {
  margin-right: 0;
}

.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-title-text-color);
}

.main-nav__link--active {
  position: relative;
  color: var(--accent-text-color);
}
.main-nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.link {
  transition: color var(--time-animation) var(--time-function);
}
.link:hover, .link:focus {
  color: var(--accent-text-color);
}

.nav-contact__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

.link__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--time-animation) var(--time-function);
}
.link__icon:hover, .link__icon:focus {
  fill: var(--accent-text-color);
}

.item {
  margin-right: 8px;
}
.item:last-child {
  margin-right: 0;
}

.list--wrap {
  flex-wrap: wrap;
}

.list__portfolio {
  margin-right: 30px;
  margin-bottom: 30px;
}
.list__portfolio:nth-child(3n) {
  margin-right: 0;
}
.list__portfolio:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card {
  position: relative;
  overflow: hidden;
}
.card__img {
  display: block;
}
.card__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
}
.card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-text-color);
}

.card__inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--background-card-color);
  font-size: 18px;
  line-height: 1.56;
  color: var(--additional-text-color);
  transform: translateY(100%);
  transition: transform var(--time-animation) var(--time-function);
}
.link-box:hover .card__inner, .link-box:focus .card__inner {
  transform: translateY(0);
}

.border-box {
  display: block;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.link-box {
  display: block;
  /* border: 1px solid #EEEEEE; */
  max-width: 370px;
  transition: border-top var(--time-animation) var(--time-function), box-shadow var(--time-animation) var(--time-function);
}
.link-box:hover, .link-box:focus {
  border-top: #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-features {
  margin-top: 94px;
}
.section-features__icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--button-background);
}
.section-features__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--main-title-text-color);
}

.section-meta__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.section-meta__item:last-child {
  margin-right: 0;
}
.section-meta__img {
  display: block;
}
.section-meta__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--section-meta-background-color);
  color: var(--additional-text-color);
}

.team-member {
  padding-bottom: 30px;
  padding-top: 30px;
}
.team-member__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-title-text-color);
}
.team-member__position {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}/*# sourceMappingURL=main.css.map */