.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--hero-background-color);

    // &__container {
    //     display: flex;
    // }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 20px;

        color: var(--additional-text-color);
    }
    &__socials-inner {
        margin-bottom: 60px;
    }
}

.address {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;

    color: var(--additional-text-color);
    font-style: normal;
    line-height: 1.71;
    
}

.footer-address {
    margin-top: 0;
    margin-bottom: 60px;
    // margin-bottom: 0;
    padding-left: 0;

    &__link {
        color: var(--adress-text-color);
        font-style: normal;
        line-height: 1.71;
    }
    
    &__item {
        margin-top: 9px;
        text-align: center;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: 70px;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    // margin-left: 73px;

    &__icon {
        margin-left: 10px;
        fill: var(--additional-text-color);
    }
}
.email-form {
    width: 100%;
}
.input {
    // width: 358px;
    height: 50px;
    width: 100%;
    // margin-right: 12px;
    margin-bottom: 20px;
    padding: 15px 16px;
    border: 1px solid var(--subscription-input-color);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: inherit;
    color: var(--adress-text-color);
    outline: none;
}

