.header {
    border-bottom: 1px solid var(--header-border);

    &__container {
        position: relative;
        // display: flex;
        // align-items: center;
    }
}

.header-inner {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.icon-menu, 
.icon-close {
    position: absolute;
    right: -5px;
    top: 10px;
}
.menu-button {
    max-width: 40px;
    max-height: 40px;
}
.menu-button .icon-close {
    display: none;
}
.menu-button.is-open .icon-close {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}

