.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
        // position: absolute;
        top: 100%;
        display: block;
    }
}